*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
}

img {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3 {
	text-wrap: balance;
}
