// Colors
$purple-50: hsl(260, 100%, 95%);
$purple-300: hsl(264, 82%, 80%);
$purple-500: hsl(263, 55%, 52%);

$white: hsl(0, 0%, 100%);
$grey-50: hsl(0, 0%, 96%);
$grey-100: hsl(214, 17%, 92%);
$grey-200: hsl(0, 0%, 81%);
$grey-400: hsl(224, 10%, 45%);
$grey-500: hsl(217, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);

// Font family
$barlow: 'Barlow Semi Condensed', sans-serif;

// Font size
$text-12: 0.75rem;
$text-13: 0.8125rem;
$text-20: 1.25rem;

// Font weight
$font-medium: 500;
$font-semibold: 600;

// Spacing
$s-14: 0.875rem;
$s-16: 1rem;
$s-24: 1.5rem;
$s-32: 2rem;
$s-60: 3.75rem;
$s-72: 4.5rem;
$s-216: 13.5rem;
$s-228: 14.25rem;

// Border radius
$radius-8: 0.5rem;

// Widths
$width-32: 2rem;
$width-104: 6.5rem;
$width-1120: 70rem;
